<a href="https://colab.research.google.com/github/CharlesVitry/MultiPions/blob/master/ClassiChurn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [177]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/gdrive')

from scipy import stats

from sklearn.model_selection import train_test_split

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [178]:
df_data = pd.read_csv ("/content/gdrive/My Drive/Colab Notebooks/telecom_churn_data.csv")



df_data.head()
df_data.tail()

       mobile_number  circle_id  ...  jun_vbc_3g  sep_vbc_3g
99994     7001548952        109  ...        0.00         0.0
99995     7000607688        109  ...        0.00         0.0
99996     7000087541        109  ...        0.00         0.0
99997     7000498689        109  ...     1173.18         0.0
99998     7001905007        109  ...        0.00         0.0

[5 rows x 226 columns]

In [179]:
df_data.dtypes
df_data = df_data.select_dtypes(["number"])
print(df_data.shape)

(99999, 214)

In [180]:
## Suppression des doublons 
print(df_data.shape)
df_data.drop_duplicates(subset=["mobile_number"], keep="first")
print(df_data.shape)

(99999, 214)
(99999, 214)

In [181]:
missing_rate = df_data.isna().sum()/df_data.shape[0]
nom_column = df_data.columns.tolist()
colomn_del = []
valeur_del = []
for i in range(0, len(missing_rate)) : 
  if(missing_rate[i] > 0.1):
    valeur_del.append(missing_rate[i])
    colomn_del.append(nom_column[i])
    df_data.drop(nom_column[i], axis=1, inplace=True)
  else:
    #if(df_data[nom_column[i]].dtypes == "")
    df_data.fillna(df_data.median(), inplace=True)
print(colomn_del)
print(valeur_del)
print(df_data.isna().sum().sum())
print(df_data.shape)

['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9', 'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9', 'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8', 'night_pck_user_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9']
[0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777, 0.7484674846748467, 0.7442874428744287, 0.7366073660736607, 0.7407774077740777]
0
(99999, 178)

In [182]:
nom_column = df_data.columns.tolist()
for i in range(0, len(nom_column)):
  max_t = df_data[nom_column[i]].quantile(0.75)
  min_t = df_data[nom_column[i]].quantile(0.25)
  IQR = max_t - min_t
  lower_limit = min_t - 1.5* IQR
  upper_limit = max_t + 1.5* IQR
  df_data = df_data[(df_data[nom_column[i]]< lower_limit) & (df_data[nom_column[i]] > upper_limit) ]

In [183]:
print(df_data.shape)

(0, 178)

In [184]:
trainset, testset = train_test_split(df_data, test_size=0.2, random_state=0)

ValueError: ignored